.optionsContainer {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  display: inline-block;
  min-width: 100px;
  padding: 10px;
  margin: 5px;

  font-weight: 700;

  border-radius: 7px;
  border: none;
  outline: none;
}

.good {
  composes: btn;
  color: black;
  background-color: #a5d6a7;
  border: 1px solid green;
}

.good:hover {
  color: white;
  background-color: green;
}

.neutral {
  composes: btn;
  color: black;
  background-color: #fff59d;
  border: 1px solid #fbc02d;
}

.neutral:hover {
  color: white;
  background-color: #fbc02d;
}

.bad {
  composes: btn;
  color: black;
  background-color: #ffcdd2;
  border: 1px solid red;
}

.bad:hover {
  color: white;
  background-color: red;
}
